
	
<div class="container">
    <div class="auth-form-wrapper" style="margin-left:25%;width: 52%;padding: 3%;">
    
        <%= form_for @conn, Routes.session_path(@conn, :create), [name: :session, class: "form-signin", style: "background-color:#eff2f2;padding:10%"], fn f ->  %>    
        <div class="text-center mb-4">
        <h1 >Sign In</h1>
        </div>

        <div class="form-label-group">
        <%= label f, :email, "Email address", class: "control-label" %>
        <%= email_input f, :email, class: "form-control", placeholder: "Email address", required: true, autofocus: true %>
        
        </div>

        <div class="form-label-group">
        <%= label f, :password, class: "control-label" %>
        <%= password_input f, :password, class: "form-control", placeholder: "Password", required: true %>
        
        </div>

        <%= submit "Sign in", class: "btn btn-lg btn-primary btn-block" %>
    <% end %>
    </div>
</div>    