<section class="phx-hero" style="margin-top:10px; background-color:#ff6633">
  <h1><%= gettext "Welcome to %{name}!", name: "STRS" %></h1>
  <p>A Taxi booking system that<br/>does not compromise on quality of their services.</p>
</section>

<section class="row">
  
</section>
