<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>

<h2>Login Form</h2>

<form>
  <div class="imgcontainer">
    <img src="" alt="Avatar" class="avatar">
  </div>

  <div class="container">

    <label for="email">Enter your email address:</label>
<!–– For validating email address; taken from https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/email ––>
   <input type="email" id="email" required>
    

    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>
        
    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>

</body>
</html>